.todoContainer{
    width: 500px;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
}

.todoCreateForm{
    display: flex
}

.todoInput{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #999;
}

.buttonCreate {
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    background-color: rgb(26, 76, 169);
}

.todosContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.todo {
    padding: 10px;
    background-color: white;
}

.todoTitle{
    flex: 1;
    font-size: 20px;
}

.todoUpdate, 
.todoInfo{
    display: flex;
    align-items: center;
}

.button{
    border:none;
    border-radius: 3px;
    background-color: rgb(72, 122, 221);
    color: white;
    padding: 10px 20px;
}

.buttonDelete{
    border:none;
    border-radius: 3px;
    background-color: rgb(250, 25, 25);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
}
